---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout betweenMainAndFooterClass="grow" mainClass="flex w-[95%] xl:w-[70%] place-content-center text-center items-center self-center flex-col gap-96"> 
    <h1>Contact Page</h1>
</BaseLayout>
