---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout betweenMainAndFooterClass="grow" mainClass="w-[95%] 2xl:w-1/2 place-content-center text-center items-center self-center mt-24 flex flex-col gap-10">

    <h1 class="text-black font-bold text-7xl leading-0 p-12">Find your way<br /><span class="bg-clip-text text-transparent bg-gradient-to-r from-[#4FD9BC] to-[#52C8E8]">into security</span></h1>


	<div class="flex flex-row w-full place-content-center gap-8">
        
        <div class="flex flex-col bg-gradient-to-bl from-neutral-300 to-neutral-600 rounded-xl w-fit">
            <div class="bg-[#4FDAB8] p-8 rounded-xl m-[1px] w-fit h-full flex flex-col">
                <h2 class="text-left font-bold">Individual</h2>
                <p class="text-left opacity-75 mb-0 text-sm">Free to use</p>
                <p class="flex flex-row mt-1">
                    <span class="text-4xl font-bold flex">$0</span>
                    <span class="self-end">/month</span>
                </p>
                <div class="h-[1px] bg-gradient-to-r from-white to transparent w-full mb-4"></div>
                <p class="font-bold text-md mb-2">Features for individuals</p>
                <div class="flex flex-col ml-0 gap-4">
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                         Unlimited passwords
                    </span>
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Multi-encryption
                    </span>
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Autocompletion
                    </span>
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="14" viewBox="0 0 14 14" fill="none" opacity="0.6">
                            <path d="M13 1L1 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1 1L13 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Formation of the IT Team
                    </span>
                </div>
            </div>
        </div>

        <div class="-z-10 flex flex-col bg-gradient-to-bl from-neutral-300 to-neutral-600 rounded-xl w-fit drop-shadow-[0_0_10px_rgba(0,255,255,0.7)]">
            <div class="bg-[#4FDAB8] p-8 rounded-xl m-[1px] w-fit h-full flex flex-col">
                <h2 class="text-black text-left font-bold">Pro</h2>
                <p class="text-left opacity-75 mb-0 text-sm">Starting at</p>
                <p class="flex flex-row mt-1">
                    <span class="text-4xl font-bold flex">$4</span>
                    <span class="self-end">/month/user</span>
                </p>
                <div class="h-[1px] bg-gradient-to-r from-white to transparent w-full mb-4"></div>
                <p class="font-bold text-md mb-2">Features for businesses</p>
                <div class="flex flex-col ml-0 gap-4">
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                         Unlimited passwords
                    </span>
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Credential lending
                    </span>
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Multi-encryption
                    </span>
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Autocompletion
                    </span>
                </div>
            </div>
        </div>
	</div>

    

    <div class="flex flex-col gap-10 w-full my-36">
        <h1 class="text-black font-bold text-6xl leading-0 m-0 p-12">Which plan is right for you?</span></h1>
        
        <div class="flex flex-row bg-[#4FDAB8] rounded-2xl w-full border-neutral-500 border border-solid drop-shadow-[0_0_10px_rgba(0,0,0,0.7)]">

            <div class="p-8 flex flex-col basis-3/4 w-full border border-solid border-neutral-500 border-b-0 border-t-0 border-l-0">
                <h2 class="text-left font-bold text-2xl">Estimate your monthly usage</h2>
                <div class="flex flex-col gap-4 w-full">
                    <div id="output" class="self-end text-4xl font-bold">0 Users</div>
                    <input class="w-full appearance-none bg-gradient-to-r from-[#000] to-blue-600 h-[6px] rounded-full" type="range" name="searches" min="0" max="10000" step="1" value="1">
                    <div class="flex flex-row justify-between">
                        <span>0</span>
                        <span>10 000</span>
                    </div>
                    <p class="italic mt-16">
                        The pricing is based on the number of users you have in your organization, the cost of formation of the IT team and the cost of the implementation   of Loaker.
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-4 basis-[55%] w-full text-left p-8">
                <h2 class="text-left font-bold text-2xl">Pro</h2>
                <p class="flex flex-row gap-2">
                    <span class="text-5xl font-bold flex">$7500</span>
                    <span class="self-end whitespace-nowrap text-4xl">Once</span>
                </p>
                <p class="flex flex-row gap-2">
                    <span id="prix" class="text-5xl font-bold flex">$4</span>
                    <span class="self-end text-4xl">/month</span>
                </p>
                <div class="flex flex-col ml-0 gap-4 mt-4">
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                         Support service
                    </span>
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Formation of the IT Team
                    </span>
                    <span class="flex whitespace-nowrap text-sm">
                        <svg class="self-center mr-2" width="18" height="13" viewBox="0 0 18 13" fill="none">
                            <path d="M17 1L6 12L1 7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        Credential lending
                    </span>
                </div>
            </div>

        </div>
        <script is:inline>
            const output = document.getElementById('output');
            const prix = document.getElementById('prix');
            const input = document.querySelector('input');
            input.addEventListener('input', () => {
                output.innerHTML = input.value + " Users";
                prix.innerHTML = "$"+(input.value*4).toFixed(0);
            });
        </script>
    </div>

</BaseLayout>