---
---

<div class="flex flex-col gap-2">
    <div class="ml-[120px] flex flex-row place-content-around bg-white border-2 border-solid border-neutral-600 rounded-lg text-xl text-black font-bold">
        <p>Q2 2023</p>
        <p>Q3 2023</p>
        <p>Q4 2023</p>
        <p>Q1 2023</p>
        <p>Q2 2024</p>
        <p>Q3 2024</p>
    </div>

    <div class="flex flex-row">
        <h1 class="self-center -rotate-90 text-3xl font-bold m-0">Features</h1>
        <div class="flex flex-col place-items-stretch border-2 border-solid border-neutral-600 rounded-lg w-full bg-neutral-100">
            <div class="ml-[0%] w-[20%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Complete the web extension</div>
            <div class="ml-[15%] w-[25%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Add multi-party encryption</div>
            <div class="ml-[30%] w-[25%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Extend to other type of data</div>
            <div class="ml-[35%] w-[25%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Wallet generator solution for company employees</div>
            <div class="ml-[50%] w-[30%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Delegation of authority</div>
            <div class="ml-[66%] w-[34%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Authority federation for companies</div>
            
        </div>
    </div>

    <div class="flex flex-row">
        <h1 class="self-center -rotate-90 text-3xl font-bold m-0">Strategy</h1>
        <div class="flex flex-col place-items-stretch border-2 border-solid border-neutral-600 rounded-lg w-full bg-neutral-100">
            <div class="ml-[0%] w-[20%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl ">Communication on social networks</div>
            <div class="ml-[15%] w-[25%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Make process to deploy our solution</div>
            <div class="ml-[35%] w-[25%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Build partnerships</div>
            <div class="ml-[50%] w-[30%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Integrate public institutions</div>
            <div class="ml-[66%] w-[34%] m-1 text-center bg-[#4FDAB8] rounded-lg font-bold text-xl">Get ISO/IEC 27001 norm</div>
            
        </div>
    </div>
</div>