---
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer.astro';
import Seo from '@components/Seo.astro';

interface Props {
	mainClass: string;
	betweenMainAndFooterClass: string;
}
const {mainClass, betweenMainAndFooterClass} = Astro.props;
const navaClass = "xl:hidden no-underline text-2xl text-white font-bold m-8 p-2 h-16 flex items-center place-content-center bg-violet-900 rounded-lg border-solid border-2 border-violet-400";
---

<!DOCTYPE html>
<html class="scroll-smooth" lang="fr" prefix="og: https://ogp.me/ns#">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.png`} />
		<meta name="generator" content={Astro.generator} />
		<title>Loaker | Gestion de mots de passe</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="google-site-verification" content="h4uHCvZfQjRBM1a2ceSnw5CNVdejePwDinJ5H9bJYsw" />
	</head>
	<body class="flex flex-col bg-white left-0 text-black m-0 min-h-screen w-full">
		<Header/>
		<main class={mainClass}>
            <slot/>
		</main>
		<div class={betweenMainAndFooterClass}></div>
        <Footer/>
	</body>
</html>


<style is:global>
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Rubik-Italic-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Inter', sans-serif;
}
</style>

<script is:inline>
	function reveal() {
		var reveals = document.querySelectorAll(".reveal-from-bottom, .reveal-from-left, .reveal-from-right");
		for (var i = 0; i < reveals.length; i++) {
			var windowHeight = window.innerHeight;
			var elementTop = reveals[i].getBoundingClientRect().top;
			var elementVisible = 150;

			if (elementTop < windowHeight - elementVisible) {
			reveals[i].classList.add("active");
			} else {
			reveals[i].classList.remove("active");
			}
		}
	}

	window.addEventListener("scroll", reveal);

	window.onload = (event) => {
  		console.log("page is fully loaded");
		reveal();};
</script>

<style is:global>
	.reveal-from-top{
		position: relative;
		transform: translateY(-150px);
		opacity: 0;
		transition: 1s all ease;
	}
	
	.reveal-from-bottom{
		position: relative;
		transform: translateY(150px);
		opacity: 0;
		transition: 1s all ease;
	}

	.reveal-from-left{
		position: relative;
		transform: translateX(-150px);
		opacity: 0;
		transition: 1s all ease;
	}

	.reveal-from-right{
		position: relative;
		transform: translateX(150px);
		opacity: 0;
		transition: 1s all ease;
	}

	.reveal-from-bottom.active{
		transform: translateY(0);
		opacity: 1;
	}

	.reveal-from-left.active, .reveal-from-right.active{
		transform: translateX(0);
		opacity: 1;
	}

/* 	.reveal.active{
		transform: translateY(0);
		opacity: 1;
	} */
</style>
